state-machines/recreate-table.state-machine.json
{
  "Comment": "A state machine for re-creating DynamoDB tables for developing purposes",
  "StartAt": "deleteTable",
  "States": {
    "deleteTable": {
      "Type": "Task",
      "Resource": ":::",
      "TimeoutSeconds": 30,
      "ResultPath": "$.results.tableName",
      "Next": "wait30Seconds"
    },
    "wait30Seconds": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "createTable"
    },
    "createTable": {
      "Type": "Task",
      "Resource": ":::",
      "TimeoutSeconds": 30,
      "ResultPath": "$.results.tableName",
      "OutputPath": "$.results",
      "End": true
    }
  }
}
